convert_eol.fish
slope_stability/agmg
poznamky_MB.docx
poznamky.docx
*.asv
*.fig
*.pdf
*.png
*.pos
*.mat

# Local C/HYPRE build artifacts
bin/
third_party/hypre/
third_party/hypre-build-openmp/
third_party/hypre-openmp/
slope_stability/hypre_boomeramg_mex.mexa64
